body,h1,h2,h3,h4,p,section,div {
    margin: 0;
}

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a{
    color: #f77575;
    text-decoration: none;
}

nav ul li a:hover{
    color: #f77575;
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}